@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Prociono&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: #F2F3F5;
}

.header-primario {
    background-color: #1e3a8a ;
    display: flex;
    
}
img {
    width: 160px;
    padding: 5px;
    
}

h1  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Prociono", serif;
    padding-bottom: 5px;
    
}


div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

header nav {
    display: flex;
    gap: 60px;
    margin-left: 40rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    
   
    
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

em {
    transition: all 0.5s;
}

em:hover {
    color: rgb(65, 177, 91);
}

.header-secundario {
    background-color: #1A202C;
    height: 300px;

}

.header-secundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;

}

.header-secundario h2 {
    font-family: "Patrick Hand", cursive;
    font-size: 45px;
}

.header-secundario h3 {
    font-size: 25px;
    padding: 5px;

}

.nossos-cursos {
    color: #0a2a6b;
    text-align: center;
    margin-top: 60px;
     font-size: 45px;

}




.sessao-1 {
    display: flex;
    gap: 10rem;
    margin-top: 50px;
    padding: 30px;

}

.sessao-2 {
    display: flex;
    gap: 10rem;
    margin-top: 50px;
     padding: 30px;

}

.sessao-3 {
    display: flex;
    gap: 10rem;
    margin-top: 50px;
     padding: 30px;

}

.sessao-4 {
    display: flex;
    gap: 10rem;
    margin-top: 50px;
     padding: 30px;

}




main section {
    height: 30rem;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 588px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    
    
   
}

main section div {
    background-color: #334155;
    padding: 4rem;
    border-radius: 10px;
    

} 

main section div h2 {
    font-family: "Patrick Hand", cursive;
    font-size: 45px;
}

section h3 {
    color: #1E3A8A;
    text-align: center;
    font-size: 25px;
    padding: 5px;

}

section p {
    color: #374151;
    text-align: center;
    font-size: 23px;
    padding: 5px;

}

.sobre {
    background-color: #213A81;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    border-radius: 10px;
    padding: 20px;
}
.sobre h2 {
    font-size: 40px;
    font-family: "Patrick Hand", cursive;
    text-align: center;
}

.sobre p {
    text-align: center;
    padding: 10px;

}

.sobre p em {
    font-size: 20px;
    transition: all 0.5s;
    
}

.sobre em:hover {
    color: rgb(224, 212, 195);

}

.informacao-contato {
    display: flex;
    flex-direction: column;
}

.informacao-contato p  {
    color: #2058c7;
    text-align: center;
    margin-top: 3.5rem;
    font-size: 20px;
    padding: 10px;
}

.redes-social {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;

}

ion-icon {
    padding: 7px;
    border-radius: 14px;
}

.redes-social .logo-zapp {
    color: #168f12;
    font-size: 25px;
    transition: all 0.5s;

}

.redes-social .logo-inst {
    color: #741e8a;
    font-size: 25px;
    transition: all 0.5s;
    
    
}

.redes-social .logo-gps {
    color: red;
    font-size: 25px;
    transition: all 0.5s;
}

.logo-zapp:hover {
    color: #0c5709;
    background-color: rgba(154, 59, 192, 0.178);

}

.logo-inst:hover {
    color: #270536;
    background-color: rgba(154, 59, 192, 0.178);

}

.logo-gps:hover {
    color: rgb(131, 11, 11);
    background-color: rgba(154, 59, 192, 0.178);
}



footer {
    background-color: #213A81;
    margin-top: 8rem;
    padding: 20px;
    text-align: center;
    border-radius: 10px;

}



@media (max-width: 860px) {

    h1 {
        padding: 2px;
    }


    img {
        /* centralizando img no meio do container */
        margin: 0 auto 0;
        padding-right: 13px;
        margin-top: 17px;
    }
    .header-primario {
        /* posicionando em coluna */
        flex-direction: column;
        gap: 15px;
    }

    .header-primario h1 {
        text-align: center;
    }

    nav {
        /* posicionamento no lado esquerdo */
        margin-left: 0;
        padding: 10px;
        margin: auto;
        display: flex;
        
        
    }


    .header-secundario h2 {
        padding: 5px;
    }

    .header-secundario p {
        padding: 9px;
    }

    main section {
        height: auto;
    }


    .sessao-1 {
        flex-direction: column;
        gap: 2rem;
    }

      .sessao-2 {
        flex-direction: column;
        gap: 2rem;
        
    }

      .sessao-3 {
        flex-direction: column;
        gap: 2rem;
    }

      .sessao-4 {
        flex-direction: column;
        gap: 2rem;
    }

    /* main section {
        width: 20rem;

    } */




  
}
