* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
} 

body {
    background-color: white;
}

.header-primario {
    background: #140669 url(assets/fundo_azul.png);
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Por que sempre usamos Relative no pai?
    Porque queremos que o elemento absoluto fique preso ao seu contêiner. */
    position: relative;
    overflow: hidden;
    padding: 40px;
}

.instrumentos_fundo{
    position: absolute;
    top: 50%;  /* leva o topo da imagem para o meio do container. */
    left: 50%; /* leva a esquerda da imagem para o meio. */
    /* 50% da largura dela para a esquerda (-50%)
    50% da altura dela para cima (-50%) */
    transform: translate(-50%, -50%); /* corrige o posicionamento, centralizando a imagem exatamente. */
    opacity: 0.19; /* quase invisível */    
    z-index: 0; /* fica atrás de tudo */   
}

/* escondendo o titulo*/
.header-primario h2 {
    text-indent: -99999px;
}

.header-primario  .logo {
        width: 170px;
        margin-top: -20px;
}

.header-primario div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 1rem;
    align-items: center; 
     z-index: 1;
}

.header-primario div h1 {
    font-size: 20px;
    text-align: center;  
   font-family: lora, sans-serif;
}

.header-primario div .p1 {
     text-align: center;
     font-size: 15px;
     font-family: lora, sans-serif;
     line-height: 20px;
}

.header-primario div a {
    background-color:#11BB19;
    border-radius: 10px;
    transition: all 0.5s;
    width: 290px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 20px;
    margin-top: 10px;
    font-size: 1.10rem;
    color: white;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-primario div a:hover {
    background-color: #44AB45;
}

main {
    display: flex;
    flex-direction: column;
}

main .sessao-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .sessao-inicial h2 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: #143246;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}

main .sessao-inicial p {
    text-align: center;
    color: #143246;
    padding: 8px;
    line-height: 25px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
main .sessao-inicial p .strong-1 {
    color: #143246;
}

main .sessao-NaoAprendaSozinho {
    background: #100454;
    height: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 36px;
}

main .sessao-NaoAprendaSozinho h2 {
    font-size: 1.8rem;
    color: #8EE441;
    text-align: center;
    padding: 10px;
    font-family: "Patrick Hand", cursive;
}

main .sessao-NaoAprendaSozinho p {
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

main .sessao-cursos {
    background-color: #100454;
    height: auto;
    position: relative; /* MUITO IMPORTANTE */
    overflow: hidden;
    padding: 50px;
}

main .sessao-cursos .baterista {
    position: absolute;
    top: 16%;
    left: 51.5%;
    transform: translate(-50%, -50%); /* centraliza */
    width: 100%; /* ajusta tamanho */
    opacity: 0.04; /* quase invisível */
    z-index: 0; /* fica atrás de tudo */
    height: 100%;
    pointer-events: none;
}

main .sessao-cursos .baterista2 {
    position: absolute;
    top: 69%;
    left: 51.5%;
    transform: translate(-50%, -50%); /* centraliza */
    width: 100%; /* ajusta tamanho */
    opacity: 0.04; /* quase invisível */
    z-index: 0; /* fica atrás de tudo */
    height: 100%;
    pointer-events: none;
}

main .sessao-cursos h2 {
    font-size: 2.5rem;
    font-family: "Patrick Hand", cursive;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: #8EE441;
}

main .sessao-cursos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;    
}

main .sessao-cursos ul a {
    background-color:  #000000;
    width: 80%;
    height: 130px;
    border-radius: 10px;
    border:#1D3ECF solid 2px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    transition: 0.4s;
}

/* efeito hover */
main .sessao-cursos ul a:hover {
    background-color: #010F45;
    border: #1D3ECF solid 4px;
    transform: scale(1.02);
}

/* imagem ocupando o card inteiro */
main .sessao-cursos ul a img {
    position: absolute;
    width: 200%;
    height: 200%;
    object-fit: contain;
    opacity: 0.30;
    z-index: 0;
}

/* texto acima da imagem */
main .sessao-cursos ul a li {
    list-style: none;
    z-index: 1;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

main .sessao-cursos p {
    text-align: center;
    line-height: 20px;
}

main .venhaNosConhecer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 20px;
}

main .venhaNosConhecer h3 {
    color: #143246;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

main .venhaNosConhecer p {
    text-align: center;
     color: #143246;
    padding: 8px;
    line-height: 25px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

main .venhaNosConhecer .agendar {
    list-style: none;
    background-color: #031b4b;;
    border-radius: 10px;
    transition: all 0.5s;
    width: 290px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 6px;
    padding: 10px;
    margin-top: 10px;
}

main .venhaNosConhecer .agendar:hover {
    background-color: #042463;
}
main .venhaNosConhecer a {
    border: none;
    background-color: transparent;
    color: #E0E0E0;
    font-size: 1.10rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    
}
main .mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

main .mapa iframe {
    width: 95%;
    height: 400px;
    border-radius: 10px;
}

.redes-sociais {
    display: flex;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;   
}

ion-icon {
    padding: 7px;
    border-radius: 14px;
}

.redes-sociais .logo-zapp {
    color: #023500;
    font-size: 1.56rem;
    transition: all 0.5s;
}

.redes-sociais .logo-inst {
    color: #160053;
    font-size: 1.56rem;
    transition: all 0.5s;
}

.redes-sociais .logo-gps {
    color: rgb(100, 1, 1);
    font-size: 1.56rem;
    transition: all 0.5s;
}

footer {
    background-color: #0e0642;
    margin-top: 8rem;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 12px;
}
/* dispostivo com telas maiores */
@media (min-width: 801px) {

    p {
        font-size: 20px !important;
        width: 80%;
        margin: 0 auto;
    }

    .header-primario {
        height: 430px;
    }
    .header-primario  .logo {
        width: 300px;
}

    .header-primario div {
        margin-top: 40px;
    }
    .header-primario div h1 {
        font-size: 24px;     
    }
    .header-primario div .p1 {
        font-size: 18px !important;
        line-height: 25px;
    }

    .header-primario div a {
        width: 320px;
        height: 50px;
    }
    main .sessao-inicial h2 {
        font-size: 32px;
    }

    
    main .sessao-cursos ul a {
        width: 50%;
        }

        main .sessao-cursos p {
            line-height: 28px;
        }
    main .venhaNosConhecer h3 {
        font-size: 26px;
    }

    main .venhaNosConhecer .agendar {
        width: 320px;
        height: 50px;
    }

    footer p {
        font-size: 16px !important;
    }


}

