@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
} 

body {
    /* background: #b0cbff; */
    background: url(assets/azulClaro2.jpg) no-repeat center center/cover;
}

.header-primario {
    background: url('assets/azul6.jpg') no-repeat center center/cover;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* MUITO IMPORTANTE */
    overflow: hidden;
    padding: 40px;
}

.guitarra2{
    position: absolute;
    top: 16%;
    left: 51.5%;
    transform: translate(-50%, -50%); /* centraliza */
    width: 100%; /* ajusta tamanho */
    opacity: 0.40; /* quase invisível */    
    z-index: 0; /* fica atrás de tudo */
    height: 65%;
}

.header-primario  .logo {
        width: 200px;
        margin-top: -70px;
}

.header-primario div {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    gap: 1rem;
    align-items: center; 
}

.header-primario div h1 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;    
    text-align: center;    
    width: 100%;
     
}

.header-primario div .p1 {
     text-align: center;
}

.header-primario div .p2 {
    font-weight: bolder;
    text-align: center;
}

.header-primario div a {
    background-color: #ffbb00;
    border-radius: 10px;
    transition: all 0.5s;
    width: 290px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-primario div a button {
    font-size: 1.10rem;
    font-weight: bolder;
    font-family: monospace;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.header-primario div a:hover {
    background-color: #d9ff00;
}

main {
    display: flex;
    flex-direction: column;
}

main .sessao-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .sessao-inicial h2 {
    font-size: 2.2rem;
    text-align: center;
     color: #002D5E;
    font-family: "Patrick Hand", cursive;
    padding: 10px;
    margin-top: 10px;
}

main .sessao-inicial p {
    text-align: center;
    color: #000000;
    padding: 8px;
    width: 100%;
    max-width: 1400px;
}
main .sessao-inicial p .strong-1 {
    color: #000000;
}

main .sessao-NaoAprendaSozinho iframe {
    width: 100%;
    max-width: 700px;
    height: 400px;
     margin-top: 30px;
     border-radius: 14px;
     border: #1b204b solid 1px;
}

main .sessao-NaoAprendaSozinho {
    background: url(assets/azul5.jpg) no-repeat center center/cover;
    height: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 36px;
}

main .sessao-NaoAprendaSozinho h2 {
    font-size: 1.8rem;
    color: #fbff00;
    text-align: center;
    padding: 10px;
    font-family: "Patrick Hand", cursive;
}

main .sessao-NaoAprendaSozinho p {
    text-align: center;
}

main .sessao-cursos {
    background: url(assets/azul3.jpg) no-repeat center center/cover;
    height: auto;
    position: relative; /* MUITO IMPORTANTE */
    overflow: hidden;
    padding: 30px;
}

main .sessao-cursos .baterista {
    position: absolute;
    top: 16%;
    left: 51.5%;
    transform: translate(-50%, -50%); /* centraliza */
    width: 100%; /* ajusta tamanho */
    opacity: 0.04; /* quase invisível */
    z-index: 0; /* fica atrás de tudo */
    height: 100%;
    pointer-events: none;
}

main .sessao-cursos .baterista2 {
    position: absolute;
    top: 69%;
    left: 51.5%;
    transform: translate(-50%, -50%); /* centraliza */
    width: 100%; /* ajusta tamanho */
    opacity: 0.04; /* quase invisível */
    z-index: 0; /* fica atrás de tudo */
    height: 100%;
    pointer-events: none;
}

main .sessao-cursos h2 {
    font-size: 2.5rem;
    font-family: "Patrick Hand", cursive;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: #fbff00;
}

main .sessao-cursos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;    
}
main .sessao-cursos ul a {
    background-color: #2f4685;
    list-style: none;
    width: 60%;
    height:130px;
    padding: 22px;
    border-radius: 10px;
    font-size: 25px;
    border: #01b6b6 solid 2px;
    font-family: 'Courier New', Courier, monospace;
    transition:  0.4s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}

main .sessao-cursos ul a:hover {
    background-color: #223569;
    border: #01b6b6 solid 4px;
}

main .sessao-cursos ul a img{
    width: 100px;
    height: 50px;
    margin-top: -10px;
}

main .sessao-cursos p {
    text-align: center;
    padding: 10px;
}

main .alunos-apresentacao {
    margin-top: 20px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .alunos-apresentacao h2 {
    font-size: 2.2rem;
    text-align: center;
    color: #002D5E;
    font-family: "Patrick Hand", cursive;
    padding: 10px;
    margin-top: 10px;
}

main .alunos-apresentacao  iframe {
    width: 100%;
    max-width: 400px;
    height: 282px;
    margin-top: 30px;
    border-radius: 14px;
    border: #1b394b solid 1px;
}

main .venhaNosConhecer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

main .venhaNosConhecer h3 {
    font-size: 2.2rem;
   font-family: "Patrick Hand", cursive;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: #002D5E;
}

main .venhaNosConhecer p {
    text-align: center;
     color: #000000;
    padding: 8px;
}


main .venhaNosConhecer .agendar {
    list-style: none;
    background-color: #071e46;
    border-radius: 10px;
    transition: all 0.5s;
    width: 290px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 6px;
    padding: 10px;
}

main .venhaNosConhecer .agendar:hover {
    background-color: #00091a;
}

main .venhaNosConhecer .agendar button {
    border: none;
    background-color: transparent;
    color: #E0E0E0;
    font-size: 1.10rem;
    font-weight: bolder;
    font-family: monospace;
    cursor: pointer;
}

main .mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

main .mapa iframe {
    width: 95%;
    height: 400px;
    border-radius: 10px;
}

.redes-sociais {
    display: flex;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;   
}

ion-icon {
    padding: 7px;
    border-radius: 14px;
}

.redes-sociais .logo-zapp {
    color: #023500;
    font-size: 1.56rem;
    transition: all 0.5s;
}

.redes-sociais .logo-inst {
    color: #160053;
    font-size: 1.56rem;
    transition: all 0.5s;
}

.redes-sociais .logo-gps {
    color: rgb(100, 1, 1);
    font-size: 1.56rem;
    transition: all 0.5s;
}

footer {
    background-color: #091941;
    margin-top: 8rem;
    padding: 20px;
    text-align: center;
}


